@font-face {
    font-family: ElectroluxSans;
    font-style: normal;
    font-weight: 500;
    src: url(/font/electroluxsans_3_regular-webfont.woff) format("woff"),
      url(/font/ElectroluxSans-Regular.ttf) format("truetype");
    font-display: swap;
  }
* {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    font-family:  ElectroluxSans, sans-serif;
  }    
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
   
  }

  .header__menu{
    display: flex;
    list-style: none;
    margin-right: 200px;  
    
  }

.header__logo{
    margin-left: 200px;
}

.header__menu-item{
    padding: 10px;
    cursor: pointer;
    color: #011e41;
    align-items: center;
}

.nav{
    height: 85px;
    background-color: #011e41;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    list-style: none;
    display: flex;
    color: white;
    margin-left: 157px;
}

.nav__menu-item{
    padding: 10px;
    opacity: 50%;
}

.nav__menu-item.active{
    opacity: 100%;
    border-bottom: 2px solid white;
}

.btn{
    margin-right: 180px;
}

.btn--none{
    width: 200px;
    height: 75px;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #011e41;
    font-size: 1.25rem;
}

.btn--red{
    width: 200px;
    height: 75px;
    background-color: red;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-size: 1.25rem;
}

.option{
  background-color: #011e41;
  
}

.option__selection{
  display: flex;
  align-items: center;
  list-style: none;
  color: white; 
  height: 75px;
  justify-content: flex-end;
  margin-right: 50px;
}

.option__selection-item{
  padding: 10px;
  align-items: end;
  
}

.alert{
  text-align: center;
  align-items: center;
  /* margin-top: 50px; */
  height: 10px;
}

.ads{
  display: flex;
  justify-content: space-between;
  background-color: #eaeef2;
  align-items: center;
  height: 100px;
}

.ads__left{
  display: flex;
  margin-left: 40px;
}

.ads__info{
  margin-left: 10px;
}

.ads__gift{
  border: 1px solid #011e41;
  width: 91px;
  border-radius: 2px;
  padding: 3px;
}

.ads__right{
  margin-right: 40px;
  align-items: center;
}
/* note */
.ads__right-price{
  margin-right: 10px;
  font-size: 1.25rem;
  color: #011e41;
  font-weight: 600;
  padding-top: 3px;
  
}

.btn--blue{
  height: 44px;
  width: 150px;
  background-color: #011e41;
  border-radius: 7px;
  color: white;
  text-transform: uppercase;
}

.second-nav{
  background-color: #dfe7ea;
  display: flex;
  justify-content: flex-end;
  height: 50px;
}
.benefit-nav{
  display: flex;
  list-style: none;
  margin-right: 50px;
  align-items: center;
}

.benefit-nav__item{
  padding: 10px;
  font-weight: 700;
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.menu__1{
  font-weight: 700;
  font-size: 30px;
  color: #011e41;
}

.menu__tech{
  opacity: 50%;
  display: flex;
}

.menu__tech.special{
  opacity: 100%;
}

.menu__tech-image{
  margin-right: 10px;
}

.bg-content{
  position: relative;
}

.bg-content__bg{
  width: 100%;
  height: 600px;
}

.bg-content__text{
  position: absolute;
  color: white;
  width: 25%;
  /* height: 300px; */
  left: 185px;
  bottom: 155px;
}

b{
  font-size: 20px;
  padding-top: 7px;
}

.bg-content__text-play{
  position: absolute;
  bottom: 250px;
}

.select{
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 47.2%;
  /* justify-content: space-evenly; */
}

.select__dot{
  align-items: center;
  background-color: #011e41;
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  opacity: 50%;
}

.select__dot.none{
  background-color: white;
}





